# House Price Analysis

## Import Libraries

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

## Load the Data

In [4]:
# Load the dataset (CSV file)

df=pd.read_csv('C:\\house_prices.csv')

## Explore the Data

In [5]:
# Show first 5 rows
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

- **Task:** Observe the data structure and column types.
- **Reflection:** Write a short note about what each column represents and any observations.

title ده عنوان الاعلان وبيوضح نوع الشقة
DESCRIPTION وصف تفصيلي للعقار
AMOUNT سعر العقار كله بالعملة الهندية
PRICE سعر المتر بالعملة الهندية
LOCATION المنطقة او الحي
CARPETAREA المساحة الفعلية للعيش في الشقة
STATUS حالة العقار جاهز للسكن دلوقتي ولا حالته ايه بالظبط
FLOOR رقم الدور اللي فيه الشقة
OVERLOOKING المنظر اللي بتطل عليها الشقة
CARPARKING عدد اماكن السيارات المتاحة
BATHROOM BALACONY عدد الحمامات و البلكونات الموجودة
SUPER AREA بيعبر عن مساحة الشقة زائد الحاجات المشتركة اللي في العمارة اللي فيها الشقة
DIMENSIONS بتعبر عن ابعاد قطعة الارض
PLOT AREA مساجة الارض التي بني عليها العقار

In [7]:
# Number of rows and columns
df.shape

(187531, 21)

In [9]:
# Column names
df.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='str')

In [8]:

# General info about all columns
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  str
 2   Description        184508 non-null  str
 3   Amount(in rupees)  187531 non-null  str
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  str
 6   Carpet Area        106858 non-null  str
 7   Status             186916 non-null  str
 8   Floor              180454 non-null  str
 9   Transaction        187448 non-null  str
 10  Furnishing         184634 non-null  str
 11  facing             117298 non-null  str
 12  overlooking        106095 non-null  str
 13  Society            77853 non-null   str
 14  Bathroom           186703 non-null  str
 15  Balcony            138596 non-null  str
 16  Car Parking        84174 non-null   str
 17  Ownership          122014 non-null  str
 18  Super Area         79846 non-null   str
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), str(17)
memory usage: 30.0 MB

In [10]:
# Count of missing values in each column
df.isna().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

- **Task:** Review missing values.
- **Reflection:** Which columns have the most missing data? Which columns are mostly complete? How might missing data affect your analysis?

DIMENSIONS AND PLOT AREA have the most missing data .titles and amont and location are complete
القيم النفقودة هتخلي النتائج اللي بتطلع نتيجة التحليل مهتكنش واقعية عشان هتكون بتعتمد على الصفوف المتكاملة بس

In [11]:
# Summary statistics for numerical columns
df.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

- **Task:** Review the summary statistics for numeric columns.
- **Reflection:** Write a note on unusual values (like 0 or extremely high numbers) and columns that may need cleaning.

في ارقام تخيلية كتير وقيم مفقودة وكدا احتمال نعمل حذف لل اخر عمودين

In [12]:
# check for duplicate rows
df.duplicated().sum()

np.int64(0)

## Data Cleaning

In [13]:
# Fill missing 'Price (in rupees)' with the meaN
df['Price (in rupees)']=df['Price (in rupees)'].fillna(df['Price (in rupees)'].mean())

In [25]:
# Fill missing 'Carpet Area' with median (safer than mean for skewed data)

df['Carpet Area']=df['Carpet Area'].fillna(df['Carpet Area'].median())

In [15]:

# Fill missing 'Status' with 'Unknown'
df['Status']=df['Status'].fillna('unknown')

In [16]:
# Drop columns with mostly missing values (>80%)
percent=len(df)*0.8
df=df.dropna(thresh=percent,axis=1)

In [26]:
#show cleaned data
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.000000,thane,500.0,Ready to Move,10 out of 11,Resale,Unfurnished,1
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.000000,thane,473.0,Ready to Move,3 out of 22,Resale,Semi-Furnished,2
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.000000,thane,779.0,Ready to Move,10 out of 29,Resale,Unfurnished,2
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,7583.771885,thane,530.0,Ready to Move,1 out of 3,Resale,Unfurnished,1
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.000000,thane,635.0,Ready to Move,20 out of 42,Resale,Unfurnished,2

**Task:** Perform basic data cleaning as shown above.

**Reflection** Questions (write your answers ):

- Which columns did you clean and why?

- Why did you fill Price (in rupees) with the mean instead of dropping rows?

- Why did you fill Carpet Area with the median?

- Why did you fill Status with 'Unknown'?

- Why did we drop columns with mostly missing values (>80%)?

- How do you think these cleaning steps will affect your analysis later?

الاعمدة اللي نظفتها هي اللي فيها قيم مفقودة
وعملت المتوسط الحسابي لعمودriceعشان مفيهوش قيم شاذة 
carpet area استخدمت فيه الوسيط عشان فيه قيم شاذة
status ملينا القيم المفقودة بقيمة غير معلومة عشان متاثرش على التحليل
عملنا حذف لاعمدة اللي اغلبها قيم مفقودة عشان مش هيفدونا في التحليل بحاجة بالعكس هيلغبطولنا التحليل
هتجعل التحليل نتائجه واقعية اكتر

## Filtering & Sorting Data

In [18]:
# Flats with Price less than 1 Cr
flats=df[df['Price (in rupees)']<10000]

In [32]:
# Flats with Carpet Area greater than 600 sqft
df['Carpet Area'] = df['Carpet Area'].astype(str).str.replace(' sqft', '')
df['Carpet Area'] = pd.to_numeric(df['Carpet Area'], errors='coerce')
df['Carpet Area']=df['Carpet Area'].fillna(df['Carpet Area'].median(),inplace=True)

flats1=df[df['Carpet Area'] >600 ]

C:\Users\Dell\AppData\Local\Temp\temp\ipykernel_15184\2188867643.py:4: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Carpet Area']=df['Carpet Area'].fillna(df['Carpet Area'].median(),inplace=True)

In [22]:
# Sort by Price descending
sorted=df.sort_values(by='Price (in rupees)',ascending=False)

In [33]:
# show each data after sorting
sorted.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252.0,Ready to Move,5 out of 9,New Property,Unfurnished,3
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,6499.0,Ready to Move,4 out of 4,Resale,Semi-Furnished,2
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,NaN,Ready to Move,1 out of 2,Resale,Furnished,5
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970.0,Ready to Move,1 out of 4,New Property,Unfurnished,2
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920.0,Ready to Move,2 out of 2,New Property,Unfurnished,2

In [34]:
sorted.describe()

               Index  Price (in rupees)    Carpet Area
count  187531.000000       1.875310e+05  181101.000000
mean    93765.000000       7.583772e+03    3598.485635
std     54135.681003       2.592692e+04    3491.202144
min         0.000000       0.000000e+00       1.000000
25%     46882.500000       4.501500e+03    1000.000000
50%     93765.000000       6.499000e+03    1960.000000
75%    140647.500000       8.452500e+03    6499.000000
max    187530.000000       6.700000e+06  709222.000000

**Task:** Apply filtering and sorting.

**Reflection** Questions:

- Which filters did you apply?

- What did you learn from the sorted data?

- Are there any patterns or outliers?

عملت فلترة للشقق اللي اقل من 10000
وعملت فلترة للشقق اللي مساحتها اكبر من 600 قدم
اتعلمت انو الشقق اللي سعرها اعلى ال carpet areaبتاعتها اكبر
نعم فيه قيم شاذة

## Selecting Key Columns

In [35]:
# select the following columns from the cleaned dataset  Title , Price (in rupees), Carpet Area, Status, Floor, location
df_key = df[['Title', 'Price (in rupees)', 'Carpet Area', 'Status', 'Floor', 'location']]
df_key.head()

,Title,Price (in rupees),Carpet Area,Status,Floor,location
0,1 BHK Ready to Occupy Flat for sale in Srushti...,6000.000000,500.0,Ready to Move,10 out of 11,thane
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,13799.000000,473.0,Ready to Move,3 out of 22,thane
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,17500.000000,779.0,Ready to Move,10 out of 29,thane
3,1 BHK Ready to Occupy Flat for sale Kasheli,7583.771885,530.0,Ready to Move,1 out of 3,thane
4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,18824.000000,635.0,Ready to Move,20 out of 42,thane

**Task:** Focus on key columns.

**Reflection** Questions:

- Why did you select these columns?

- How might they relate to each other in analysis?

اخترت الاعمدة دي هي تعتبر اهم خصائص للمشتري وهي اكتر اعمدة مكنش قيها قيم مفقودة
هما مرتبطين بعض عشان ممكن نحلل ازاي مثلا الموقع ياثر على السعر او مثلا كل لما المساحة تزيد السعر يزيد وهكذا

## Aggregations & Relationships

In [36]:
# Average price
df['Price (in rupees)'].mean()

np.float64(7583.771884897507)

In [37]:
# Average price by Location
df.groupby('location')['Price (in rupees)'].mean()

location
agra             14353.396799
ahmadnagar        4478.251459
ahmedabad         5554.675021
allahabad         8616.334011
aurangabad        4929.181751
                     ...
varanasi          6515.249121
vijayawada        4586.514892
visakhapatnam     5238.340970
vrindavan         5385.862865
zirakpur          4342.257801
Name: Price (in rupees), Length: 81, dtype: float64

In [38]:
# Min and Max carpet area
print("Min Area:", df['Carpet Area'].min())
print("Max Area:", df['Carpet Area'].max())

Min Area: 1.0
Max Area: 709222.0

In [39]:

# Average Price by Status
df.groupby('Status')['Price (in rupees)'].mean()

Status
Ready to Move    7589.451646
unknown          5857.530793
Name: Price (in rupees), dtype: float64

In [40]:
# Average Carpet Area by Location
df.groupby('location')['Carpet Area'].mean()

location
agra             4873.884444
ahmadnagar       4298.033333
ahmedabad        4034.189490
allahabad        2744.688889
aurangabad       4401.766667
                    ...
varanasi         3960.133333
vijayawada       3311.554386
visakhapatnam    2966.462222
vrindavan        3172.066667
zirakpur         2750.318954
Name: Carpet Area, Length: 81, dtype: float64

**Task:** Calculate aggregations and explore relationships.

**Reflection** Questions:

- What patterns do you see between Price, Carpet Area, Status, and Location?

- Any surprising insights?

السعر و المساحة بيختلفوا حسب الموقع وكمان الحالة جاخز للسكن سعرها اغلى من التانية

## General Questions on Data

In [41]:
# Display the first 10 rows of the cleaned dataset.

df.head(10)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.000000,thane,500.0,Ready to Move,10 out of 11,Resale,Unfurnished,1
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.000000,thane,473.0,Ready to Move,3 out of 22,Resale,Semi-Furnished,2
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.000000,thane,779.0,Ready to Move,10 out of 29,Resale,Unfurnished,2
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,7583.771885,thane,530.0,Ready to Move,1 out of 3,Resale,Unfurnished,1
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.000000,thane,635.0,Ready to Move,20 out of 42,Resale,Unfurnished,2
5,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,45 Lac,6618.000000,thane,6499.0,Ready to Move,2 out of 7,Resale,Unfurnished,1
6,6,1 BHK Ready to Occupy Flat for sale Mumbra,This magnificent 1 BHK Flat is available for s...,16.5 Lac,2538.000000,thane,550.0,Ready to Move,4 out of 5,Resale,Unfurnished,1
7,7,1 BHK Ready to Occupy Flat for sale Kalwa,Creatively planned and constructed is a 1 BHK ...,60 Lac,10435.000000,thane,6499.0,Ready to Move,Ground out of 7,Resale,Furnished,1
8,8,1 BHK Ready to Occupy Flat for sale Kalwa,Discover this immaculate 1 BHK flat for sale a...,60 Lac,10000.000000,thane,6499.0,Ready to Move,Ground out of 2,Resale,Furnished,1
9,9,3 BHK Ready to Occupy Flat for sale in Pride P...,One can find this stunning 3 BHK flat for sale...,1.60 Cr,11150.000000,thane,900.0,Ready to Move,3 out of 27,Resale,Unfurnished,3

In [42]:

# Count the number of flats per Location.
df['location'].value_counts()

location
new-delhi      27599
bangalore      24030
kolkata        22380
gurgaon        20070
ahmedabad      12750
               ...
navsari           30
nellore           30
palakkad          30
pondicherry       30
solapur           30
Name: count, Length: 81, dtype: int64

In [43]:
# Find the top 5 most expensive flats
df.nlargest(5,'Price (in rupees)')

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252.0,Ready to Move,5 out of 9,New Property,Unfurnished,3
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,1960.0,Ready to Move,1 out of 2,Resale,Furnished,5
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,6499.0,Ready to Move,4 out of 4,Resale,Semi-Furnished,2
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970.0,Ready to Move,1 out of 4,New Property,Unfurnished,2
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920.0,Ready to Move,2 out of 2,New Property,Unfurnished,2

In [44]:
# Filter all flats where Status = Ready to Move
df[df['Status']=='Ready to Move']

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,Bathroom
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.000000,thane,500.0,Ready to Move,10 out of 11,Resale,Unfurnished,1
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.000000,thane,473.0,Ready to Move,3 out of 22,Resale,Semi-Furnished,2
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.000000,thane,779.0,Ready to Move,10 out of 29,Resale,Unfurnished,2
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,7583.771885,thane,530.0,Ready to Move,1 out of 3,Resale,Unfurnished,1
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.000000,thane,635.0,Ready to Move,20 out of 42,Resale,Unfurnished,2
...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.000000,zirakpur,6499.0,Ready to Move,2 out of 4,New Property,Semi-Furnished,3
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.000000,zirakpur,6499.0,Ready to Move,4 out of 6,Resale,Unfurnished,3
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.000000,zirakpur,1250.0,Ready to Move,1 out of 3,Resale,Furnished,3
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.000000,zirakpur,6499.0,Ready to Move,2 out of 2,Resale,Semi-Furnished,2
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.000000,zirakpur,6499.0,Ready to Move,5 out of 13,Resale,Semi-Furnished,4

In [45]:
# Calculate median Price and compare with mean Price
print("Median:", df['Price (in rupees)'].median(), "Mean:", df['Price (in rupees)'].mean())

Median: 6499.0 Mean: 7583.771884897507

In [47]:
# Explore relationship between Floor and Price
df.groupby('Floor')['Price (in rupees)'].mean()

Floor
1                           6231.461538
1 out of 1                 11672.562154
1 out of 10                 8167.762932
1 out of 11                 5579.812577
1 out of 12                 5845.949060
                               ...
Upper Basement out of 5     5201.254053
Upper Basement out of 6     8590.000000
Upper Basement out of 7     9794.692308
Upper Basement out of 8     4894.800000
Upper Basement out of 9    10521.000000
Name: Price (in rupees), Length: 947, dtype: float64

## Now Write a Short Summery of your findings about house price Data

البيانات صفوفها كتيرة لكن في عمودين حذفناهم عشان قيمهم المفقودة ولاحظت الموقع وحالة السكن والمساحة اكتر عوامل بتاثر على السعر

### **Note**
We will continue working with this dataset step by step. All the tasks you have done so far are preparing you for a Mini Data Analysis Project.

In the next Tasks, we will:

- Apply more advanced visualizations.

- Explore relationships between columns more deeply.

- Answer questions and draw insights from the data.

Keep practicing with this cleaned dataset because it will be the base for all your upcoming exercises.🥰